<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="navigateTo('home')" [selected]="activeTab === 'home'" [class.tab-selected]="activeTab === 'home'">
      <ion-icon [name]="activeTab === 'home' ? 'film' : 'film-outline'"></ion-icon>
      <ion-label>Filmes</ion-label>
    </ion-tab-button>

    <!-- Botão central para alternar tema -->
    <div class="theme-toggle-container">
      <app-theme-toggle></app-theme-toggle>
    </div>

    <ion-tab-button tab="favorites" (click)="navigateTo('favorites')" [selected]="activeTab === 'favorites'" [class.tab-selected]="activeTab === 'favorites'">
      <ion-icon [name]="activeTab === 'favorites' ? 'heart' : 'heart-outline'"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
  <ion-router-outlet></ion-router-outlet>
</ion-tabs>
