<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" formControlName="displayName"></ion-input>
      <ion-note slot="error" *ngIf="registerForm.get('displayName')?.touched && registerForm.get('displayName')?.errors?.['required']">
        Nome é obrigatório
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">
        E-mail é obrigatório
      </ion-note>
      <ion-note slot="error" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['email']">
        E-mail inválido
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']">
        Senha é obrigatória
      </ion-note>
      <ion-note slot="error" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['minlength']">
        A senha deve ter pelo menos 6 caracteres
      </ion-note>
    </ion-item>

    <ion-button 
      expand="block" 
      type="submit" 
      [disabled]="!registerForm.valid || isLoading"
      class="ion-margin-top"
    >
      <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
      <span *ngIf="!isLoading">Criar Conta</span>
    </ion-button>
  </form>
</ion-content>
